*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section1{
    background-color: #ff4c68;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    /* padding-left: 16rem;
     padding-right: 16rem; */
    /* padding-top: 5rem; */
    color: white;
    height: 700px;
    overflow: hidden;
    padding: 40px;
  
    
}


.container-fluid .navbar-brand {
    font-size: 40px;font-weight: 900; color: rgb(255, 255, 255);

}
.container-fluid .nav-item .nav-link{
    color: rgba(224, 203, 203, 0.767);
    font-size: 22px;
    padding: 30px;
}

.title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* height: 500px;
    width: 500px; */
    /* margin: 20px; */
    /* background-color: aqua; */
}
.title h1{
    font-size: 56px;
    font-weight: 800;
}

.img_nav{
    overflow: visible;
    /* background-color: blue; */
    /* width: 500px;
    /* height: 500px; */
    /* margin: 20px; */ 
}

.img_nav img{
    transform: rotate(30deg);
}

/* @media (max-width:500px){
    .section1{
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       width: 100%;      
     overflow-x: hidden;  
        
    }
    .navbar{
        padding: 0%;
        margin: 0%;
    }
    .title{
        text-align: center;
        height: auto;
        width:300px;
        padding: auto;
        margin: auto;
    }
    .title h1{
        font-size: 50px;
        line-height: 70px;
     
    }
    .bt{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
      
        align-items: center;
    }
    .bt .btn{
        margin-bottom: 20px;
    }
    .img_nav{
         height: auto;
         width: 500px;
         object-fit: cover;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
    }
    .img_nav img{
        transform: none;
        height: 400px;
    }

} */


 .navbar-brand {
      font-size: 40px;
      font-weight: 900;
      color: white;
}

.nav-link {
      color: rgba(255, 255, 255, 0.8);
      font-size: 20px;
    }

.nav-link:hover {
      color: white;
    }

@media (max-width: 991.98px) {
      .navbar-nav {
        gap: 10px;
      }

 }

@media (max-width: 500px) {
  .section1 {
    height: auto;
    /* padding: 2rem 1rem; */
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    text-align: center;
    padding: 40px;
  
  }

  .title {
    text-align: center;
    /* width: 100%; */
    max-width: 350px;
    margin: auto;
    height: auto;
  }
  .title h1{
    font-size: 30px;
    padding-top: 30px;
  }

  .img_nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .img_nav img {
    height: 300px;
    width: 200px;
    padding: 0;
    margin: 0;
   
    transform: none;
  }

  /* .bt {
    flex-direction: column;
    align-items: center;
  } */

  .bt .btn {
    margin-bottom: 15px;
    width: 80%;
  }
   .container-fluid .navbar-brand  {
        font-size: 16px;
        font-weight: 400;
      }
      .nav-link {
    
      font-size: 10px;
    }
    .navbar-toggler{
     font-size: 16px;
    }
}





 /* what people say  */
 /* .press{
    display: flex;
    flex-wrap: wrap;
    background-color: #ec6e5b;
    justify-content: center;
    align-items: center;
    padding: 30px;
 } */

.press .press_logo{
    width: 10%;
    margin: 20px 20px 50px;
}
@media (max-width: 576px) {
  #testimonialCarousel h2 {
    font-size: 28px;
    line-height: 1.5;
  }

  #testimonialCarousel img {
    width: 80px;
    height: 80px;
  }

  .press_logo {
    width: 10%;
  }
}


/* Feature  */
.Feature {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.Feature .row{
    text-align: center;
    padding: 100px;
}
.fe_div1{
    width: 400px;
    padding: 40px;
}

.Feature .row h3{
    font-size: 40px;
    font-weight: 800;
    padding-top: 10px;
}
.Feature .row p{
    font-size: 18px;
    color: rgb(139, 138, 136);
}



@media (max-width:500px){
    .Feature {
        padding: 10px;
    }
    .Feature .row{
        padding: 0%;
        width: 180px;
        align-items: center;
        justify-content: center;
    }
    .Feature .row img{
        width: 40px;
        height: 40px;
    }
    .fe_div1{
        padding: 0%;
        width: auto;
    }
    .Feature .row h3{
        font-size: small;
    }
    .Feature .row p{
        font-size: 10px;
    }


}

/* card_pricing */

.card_pricing h2{
  font-size: 49px; font-weight: 900;padding-bottom: 10px ;text-align: center;
  
}
.card_pricing  .card_p{
    color:rgba(119, 115, 115, 0.525) ; font-size: 18px;text-align: center;
}
.card_pricing .row1_pr  .card .card-header{
   font-size: 28px;

}
.card_pricing .row1_pr  .card .card-body h2{
    font-size: 42px;
    font-weight: 800;
}
.card_pricing .row1_pr  .card .card-body p{
    color: rgba(101, 97, 97, 0.525);
}
.card_pricing .row1_pr  .card .card-body a{
    font-size: 20px;
    padding: 8px,16px;
}

@media (max-width:590px){
    .card_pricing{
        padding: 0;
    }
    .card_pricing h2{
        font-size: 10px;
    }
    .card_pricing  .card_p{
        font-size: 6px;
    }
    .card_pricing .row1_pr  .card .card-header{
   font-size: 10px;

   }
   .card_pricing .row1_pr  .card .card-body h2{
    font-size: 10px;
    font-weight: 800;
   }
   .card_pricing .row1_pr  .card .card-body a{
    font-size: 10px;
    /* padding: 8px,16px; */
}
}




/* footer1 */
.footer1{
    background-color: #ff4c68;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px;
}
.footer1 h1{
    font-weight: bolder;
    color: white;
}
@media (max-width:600px){
    .footer1{
        padding: 50px;
        
    }
    .footer1 h1{
    font-size: small;
}
    .footer1 .bt{
        display: flex;
        flex-direction: row;
        display: inline;
        
        
    } 

}